  <div class="index">
    <h1>投稿一覧</h1>
  </div>
  <% @posts.each do |post| %>
    <div class="post-index">
      <%= link_to(post.title, "/posts/#{post.id}") %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="menu2">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to("新規投稿", "/posts/new") %>
      <p>メールアドレス： <%= current_user.email %></p>
    </div>
  <% else %>
    <div class="menu">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    </div>
    <div class="not-login">
      <h2>現在ログインしていません</h2>
    </div>
  <% end %>
