<div class="siimple-form">
  <h1>新規投稿</h1>
  <%= form_for(@post) do |f| %>
    <% @post.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
    <div class="siimple-form-detail">
      <h1>title</h1>
      <%= f.text_field :title %>
    </div>
    <div class="siimple-form-field">
        <div class="siimple-form-field-label">
          <h1>text</h1>
          <%= f.text_area :body %>
        </div>
    </div>
      <%= f.submit '投稿', :class => 'postnew' %>
  <% end %>
</div>
