<h1>投稿詳細ページ</h1>
<h2>
  <%= @post.title %>
</h2>
<p>
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "delete"}) %>
</p>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <%= c.content %>
    <hr>
    <p><% link_to "DELETE", post_comment_path(@post, id: c.id), method: :delete %></p>
  </div>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit 'コメントする' %>
<% end %>
