<!DOCTYPE html>
<html>
  <head>
    <title>keiziban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
  </head>

  <body>
    <div class="siimple-box siimple-box--primary">
      <div class="siimple-box-title">keiziban</div>
    </div>
    <div class="siimple-navbar">
      <div class="siimple--float-right">
          <a class="siimple-navbar-item"><%= link_to("投稿一覧", "/posts/index") %></a>
          <a class="siimple-navbar-item"><%= link_to("新規投稿", "/posts/new") %></a>
      </div>
    </div>


    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
